body {
  background-color: rgb(255, 255, 255);
  font-family: Nunito;
  font-size: 19px;
  color: #595858;
}

.container {
  margin: auto !important;
  width: 90% !important;
}

.hl-title {
  color: black;
  margin-left: 35px;
}

p.hl-title {
  margin-bottom: 0px !important;
}

.slp-title {
  color: black;
  margin: 15px 0px 5px 0px !important;
}

.slp-svg {
  margin: 5px !important;
}

.bedtype {
  font-size: 16px !important;
}

.bedtype-div {
  margin: 10px;
  width: 35%;
  border: 1px solid rgb(208,208,208);
  padding: 18px;
  border-radius: 15px;
}

h4, .desc {
  color: black;
  margin: 0px 0px 5px 0px;
}

.hl-mini-title {
  color: rgb(136, 136, 136);;
  font-size: 17.5px;
  margin-left: 35px;
  font-weight: 200;
}

svg.svg-desc, svg.svg-amenities {
  margin: 0px !important;
  position: absolute !important;
}

.amenity {
  margin-left: 40px;
}

.no-amenity {
  text-decoration: line-through;
}

button.read-more {
  border: none;
  font-weight: 900;
  text-decoration: underline;
}

.read-more:hover {
  cursor: pointer;
  text-decoration: underline;
}

svg {
  color: black;
}

button, button:hover {
  background-color: white;
}

button.see-amenities {
  border: 0.01px solid black;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  font-weight: 900;
}

button.see-amenities:hover {
  cursor: pointer;
}
